<footer>
    <section>
      <div class="tienda">
        <h2>Tienda</h2>
        <ul>
          <li><a>Guia de regalos</a></li>
          <li><a>Nuevos diseños</a></li>
          <li><a>Descuentos</a></li>
          <li><a>Unete a nustra comunidad</a></li>
        </ul>
      </div>
    </section>
    <section>
      <div class="Quienes">
        <h2>Quienes somos</h2>
        <ul>
          <li>
            <a>Programa de asociados</a>
          </li>
          <li> <a>Trabaja con nosotros</a></li>
          <li><a>Afiliados</a></li>
          <li> <a>Responsabilidad social</a></li>
        </ul>
      </div>
    </section>
    <section>
      <div class="Ayuda">
        <h2>Ayuda</h2>
        <ul>
          <li> <a>Envios</a></li>
          <li> <a>Devoluciones</a></li>
          <li> <a>Contactos</a></li>
          <li> <a>Centro de ayudas</a></li>
        </ul>
      </div>
    </section>
    <section>
      <div class="Redes">
        <h2>Seguinos en nuestras Redes</h2>
        <ul>
          <li> <a>Facebook</a><i class="fa-brands fa-facebook"></i></li>
          <li> <a>Instagram</a><i class="fa-brands fa-instagram"></i></li>
          <li> <a>Twitter</a><i class="fa-brands fa-twitter"></i></li>
          <li> <a>Youtube</a><i class="fa-brands fa-youtube"></i></li>
        </ul>
      </div>
    <p>&copy; 2024 Tienda de Ropa Developer. Todos los derechos reservados.</p>
  </footer>






