<header>
    <h1>Developer shop</h1>
   <img class="logo" src="./images/imagenes_i/logo.png" alt="logo">
   <input class="busqueda" type="search" placeholder="Buscar productos,marcas">
    <div class="lupa"><i class="fa-solid fa-magnifying-glass"></i></div>


    
    <nav>
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="login.html">Iniciar Sesión</a></li>
        <li><a href="register.html">Registrarse</a></li>
        <li><a href="detalleProducto">Detalles de productos</a></li>
        <li><a href="Preguntas frecuentes">Preguntas frecuentes</a></li>
        <li><a href="cambios">Cambios</a></li>
        <li><a href="Mis compras">Mis compras</a></li>
      </ul>
    </nav></header>