<header>
    <h1>Developer shop</h1>
   <img class="logo" src="./images/imagenes_i/logo.png" alt="logo">
   <input class="busqueda" type="search" placeholder="Buscar productos,marcas">
    <div class="lupa"><i class="fa-solid fa-magnifying-glass"></i></div>


    
    <nav>
      <ul>
        <li><a href="index">Inicio</a></li>
        <li><a href="login">Iniciar Sesión</a></li>
        <li><a href="register">Registrarse</a></li>
        <li><a href="productDetail">Detalles de productos</a></li>
        <li><a href="Preguntas frecuentes">Preguntas frecuentes</a></li>
        <li><a href="productAdd">Cambios</a></li>
        <li><a href="productCarlt">Mis compras</a></li>
      </ul>
    </nav></header>