<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://kit.fontawesome.com/ab9f47d004.js" crossorigin="anonymous"></script>

</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>



  <header>
    <h1>Developer shop</h1>
   <img class="logo" src="./images/imagenes_i/logo.png" alt="logo">
   <input class="busqueda" type="search" placeholder="Buscar productos,marcas">
    <div class="lupa"><i class="fa-solid fa-magnifying-glass"></i></div>


    
    <nav>
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="login.html">Iniciar Sesión</a></li>
        <li><a href="register.html">Registrarse</a></li>
        <li><a href="detalleProducto">Detalles de productos</a></li>
        <li><a href="Preguntas frecuentes">Preguntas frecuentes</a></li>
        <li><a href="cambios">Cambios</a></li>
        <li><a href="Mis compras">Mis compras</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <!-- Página de inicio -->
    <section id="inicio">
      <img class="banner" src="./images/imagenes_i/banner.png" alt="banner">
      <h2>¡Bienvenidos a nuestra tienda de ropa!</h2>
      <p>En nuestra tienda encontrarás una gran variedad de productos de la mejor calidad y al mejor precio.</p>
      <p>¡No te pierdas nuestras ofertas!</p>

     <h2 class="titulo"> nuestros productos</h2>
    <section class="productos">
     
      <article>
      <div class="producto">
        <img src="./images/imagenes_i/remeraBlancaAngular.jpg" alt="remeraBlancaAngular">
        <h3>remera blanca angular </h3>
        <p>Descripción: remera de algodón cómoda y suave.</p>
        <p>Precio: $25.00</p>
      </div></article>

      <div class="producto">
        <img src=./images/imagenes_i/remeraNegraGraphQl.jpg alt="remeraNegraGraphQl">
        <h3>Remera remera Negra Graph Ql</h3>
        <p>Descripción:Remera Negra Graph Ql,todos los talles</p>
        <p>Precio: $10.000</p>
      </div>
      <div class="producto">
        <img src=./images/imagenes_i/4.jpg alt="remeraAmarillaRedux">
        <h3>Remeras</h3>
        <p>Descripción: Remera amarilla redux</p>
        <p>Precio: $10.000</p>
      </div>
       
    </section>
    <h2 class="titulo">Accesorios</h2>
    <section class="productos">
      <div class="producto">
        <img src="./images/imagenes_i/auriculares.jpg" alt="auriculares">
        <h3>Gorra</h3>
        <p>Descripción: Gorra negra con logo de la marca</p>
        <p>Precio: $10.000</p>
      </div>
      <div class="producto">
        <img class="webp" src="./images/imagenes_i/tazaCode.webp" alt="taza">
        <h3>taza</h3>
        <p>Descripción: taza con logo code</p>
        <p>Precio: $3.000</p>
      </div>
      <div class="producto">
        <img class="webp" src="./images/imagenes_i/graficoGorra.webp" alt="collar">
        <h3>Gorra</h3>
        <p>Descripción:Gorra color negra code</p>
        <p>Precio: $8.000</p>
      </div>
  </main>
  <footer>
    <section>
      <div class="tienda">
        <h2>Tienda</h2>
        <ul>
          <li><a>Guia de regalos</a></li>
          <li><a>Nuevos diseños</a></li>
          <li><a>Descuentos</a></li>
          <li><a>Unete a nustra comunidad</a></li>
        </ul>
      </div>
    </section>
    <section>
      <div class="Quienes">
        <h2>Quienes somos</h2>
        <ul>
          <li>
            <a>Programa de asociados</a>
          </li>
          <li> <a>Trabaja con nosotros</a></li>
          <li><a>Afiliados</a></li>
          <li> <a>Responsabilidad social</a></li>
        </ul>
      </div>
    </section>
    <section>
      <div class="Ayuda">
        <h2>Ayuda</h2>
        <ul>
          <li> <a>Envios</a></li>
          <li> <a>Devoluciones</a></li>
          <li> <a>Contactos</a></li>
          <li> <a>Centro de ayudas</a></li>
        </ul>
      </div>
    </section>
    <section>
      <div class="Redes">
        <h2>Seguinos en nuestras Redes</h2>
        <ul>
          <li> <a>Facebook</a><i class="fa-brands fa-facebook"></i></li>
          <li> <a>Instagram</a><i class="fa-brands fa-instagram"></i></li>
          <li> <a>Twitter</a><i class="fa-brands fa-twitter"></i></li>
          <li> <a>Youtube</a><i class="fa-brands fa-youtube"></i></li>
        </ul>
      </div>
    <p>&copy; 2024 Tienda de Ropa Developer. Todos los derechos reservados.</p>
  </footer>






</body>

</html>