<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
<%- include('partials/header') %>
<main>
  <h2>Detalles del producto</h2>
  <section class="producto">
    <img src="./images/imagenes_i/remeraBlancaAngular.jpg" alt="remeraBlancaAngular">
    <h3>remera blanca angular</h3>
    <p>Descripci칩n: remera de algod칩n c칩moda y suave.</p>
    <p>Precio: $25.00</p>
    <button>A침adir al carrito</button>
  </section></main>
  <%- include('partials/footer') %>
</body></html>