<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
     <body>
    <%- include('partials/header') %>
      <main>
        <h2>Mis compras</h2>
        <p>En esta sección podrás ver los productos que has añadido al carrito de compras.</p>
        <section class="productos">
          <article>
            <div class="producto">
              <img src="./images/imagenes_i/remeraBlancaAngular.jpg" alt="remeraBlancaAngular">
              <h3>remera blanca angular </h3>
              <p>Descripción: remera de algodón cómoda y suave.</p>
              <p>Precio: $25.00</p>
            </div>
          </article>
          <article>
            <div class="producto">
              <img src="./images/imagenes_i/remeraNegraLass.jpg" alt="remeraNegraLass">
              <h3>remera negra negra lass</h3>
              <p>Descripción: remera de algodón cómoda y suave.</p>
              <p>Precio: $25.00</p>
            </div>
          </article>
          <article>
            <div class="producto">
              <img src="./images/imagenes_i/remeraRojaGithub.jpg" alt="remeraRojaGithub">
              <h3>remera roja Bulma</h3>
              <p>Descripción: remera de algodón cómoda y suave.</p>
              <p>Precio: $25.00</p>
            </div>
          </article>
        </section>
      </main>

      <%- include('partials/footer') %>
  </body>

</html>